Client/Client/obj/Client.csproj.nuget.g.props
Client/Client/obj/Debug/net6.0/Client.AssemblyInfo.cs
Client/Client/obj/Debug/net6.0/Client.GeneratedMSBuildEditorConfig.editorconfig
Client/Client/obj/Debug/net6.0/Client.assets.cache
Client/Client/obj/Debug/net6.0/Client.csproj.AssemblyReference.cache
Client/Client/obj/project.assets.json
Client/Client/obj/project.nuget.cache

Client/.vs/Client/DesignTimeBuild/
Client/.vs/Client/FileContentIndex/
Client/.vs/Client/v17/
Client/.vs/ProjectEvaluation/
Client/Client/bin/
Client/Client/obj/Debug/net6.0/Client.csproj.BuildWithSkipAnalyzers
Client/Client/obj/Debug/net6.0/Client.csproj.CoreCompileInputs.cache
Client/Client/obj/Debug/net6.0/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Debug/net6.0/Client.dll
Client/Client/obj/Debug/net6.0/Client.genruntimeconfig.cache
Client/Client/obj/Debug/net6.0/Client.pdb
Client/Client/obj/Debug/net6.0/apphost.exe
Client/Client/obj/Debug/net6.0/ref/
Client/Client/obj/Debug/net6.0/refint/
